:root {
  --cor-fundo: white; 
  --cor-detalhes: #DCDCDC;
  --cor-titulo: #3CB371; 
  --cor-secundaria: #2F4F4F;
  --cor-destaque: #00FF7F;
  --cor-subtitulo: #2E8B57; 
}

body {
  background-color: #ffffff;
}

h1 {
  color: #3CB371;
  font-family:Helvetica;
  font-size: 40px;
}

h3 {
  color: #2F4F4F;
  font-family: monospace;
  font-size: 20px;
}

h2{
  color: #2E8B57;
  font-family: Helvetica;
  font-size: 35px;
}

img {
  border: 4px;
  border-color: #DCDCDC;
  border-style: dashed;
  text-align: center;
}

.destaque {
 color: var(--cor-destaque);
}


