:root {
  --cor-fundo: white; 
  --cor-detalhes: #DCDCDC;
  --cor-destaque: #3CB371; 
  --cor-secundaria: #2F4F4F;
  --cor-subtitulo: #2E8B57; 
}

body {
  background-color: #ffffff;
}

h1 {
  color: #082904;
  font-family:Helvetica;
  font-size: 40px;
  text-align: center;
}

h3 {
  color: #2F4F4F;
  font-family: monospace;
  font-size: 20px;
}

h2{
  color: #2E8B57;
  font-family: Helvetica;
  font-size: 35px;
}

img {
  border: 3px;
  border-color: #DCDCDC;
  border-style: dashed;
}

.destaque {
 color: var(--cor-destaque);
 font-family: monospace;
 font-size: 30px;
}

.centralizarImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.centralizarTexto {
  text-align: center;
}

